# phpstorm project files
.idea/
!.idea/codeStyleSettings.xml
!.idea/webResources.xml
!.idea/encodings.xml

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# local phpunit config
/phpunit.xml
phpunit.phar

# windows thumbnail cache
Thumbs.db

# MySQL WorkBench
*.bak

# Mac DS_Store Files
.DS_Store

# composer vendor dir
/vendor
/composer.phar
/composer.lock

# vagrant runtime
/.vagrant

# yii framework
/yii